.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.upper-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.upper-part .text-part {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.my-img {
  width: 180px;
  border-radius: 50%;
}

.lower-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.lower-part .language-icons {
  font-size: 2rem;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .upper-part {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .text-part {
    text-align: left;
  }

  .lower-part {
    flex-direction: row;
  }
}
